// Custom.scss
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

$primary: #0026ff; // Cambia el color principal a rojo
$enable-gradients: true; // Habilita gradientes predefinidos en varios componentes
$enable-validation-icons: true; // Habilita íconos de validación en entradas de texto

@import "../node_modules/bootstrap/scss/utilities/api";