global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'django'
    static_configs:
      - targets: ['backend:8000']
    metrics_path: '/metrics'
    scheme: http
    
  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres_exporter:9187']
